.fiyuv-button{
    -fx-font-family: "Tahoma";
    -fx-background-image: url("../assets/menuAssets/BUTTON.png");
    -fx-background-size: 100% 100%;
    -fx-font-size: 28;
    -fx-pref-width: 225;
    -fx-pref-height: 60;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-border-color: transparent;
    -fx-text-fill:black;
    -fx-background-color: transparent;
}

.fiyuv-button:pressed {
    -fx-pref-height: 55;
}

.fiyuv-button:hover{
    -fx-effect: dropshadow(gaussian, BLACK, 30, 0,0,0);
    -fx-text-fill: white;
}

.menu-root{
    -fx-background-image: url("../assets/menuAssets/background1.jpg");
    -fx-padding: 40,40,40,40;
}

.heading-label{
    -fx-text-fill: white;
    -fx-font-size: 40;
    -fx-font-family: "Tahoma";
}

.key-text-field{
    -fx-font-family:  "Tahoma";
    -fx-font-size: 18;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.default-keys-button{
    -fx-background-image: url("../assets/menuAssets/BUTTON.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-font-family: "Tahoma";
    -fx-font-size: 15;
    -fx-pref-width: 150;
    -fx-pref-height: 50;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-background-position: center;
    -fx-text-fill: black;
    -fx-background-color: black;
}
.default-keys-button:hover{
    -fx-effect: dropshadow(three-pass-box, BLACK, 10, 0,0,0);
    -fx-text-fill: white;
}

.table-view{
    -fx-pref-width: 452;
    width: 100%;
    height: 100%;
    -fx-font-size: 15;
    -fx-background-color: white;
}
th, td {
    -fx-border-color: black;
    overflow: hidden;
//max-width: 500px;
    width: 100%;
    height: 100%;
    -fx-background-color: white;
}

.table-cell:filled{
    -fx-border-color: black;
}

.table-row-cell:empty{
    -fx-background-color: white;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow {
    -fx-max-width: 0;
    -fx-max-height: 0;
}



.table-row-cell:filled{
    //-fx-pref-height: 32;
    //width: 100%;
    -fx-font-family: "Tahoma";
    -fx-font-size: 20;
    -fx-background-color: white;
    -fx-border-color:  rgba(0, 0, 255, 0.22);
}

.tab-pane{
    -fx-pref-width: 900;
    -fx-pref-height: 1500;
}

.tab-pane .tab{
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-font-family: "Tahoma";
    -fx-font-size: 15;
//-fx-background-color: #dedec5;
    -fx-background-color: rgba(0, 0, 255, 0.22);
    -fx-background-radius: 5;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-text-fill: black;
//-fx-background-color: gray;
}

.tab:selected{
    -fx-effect: dropshadow(gaussian, BLACK, 10, 0,0,0);
}

.tab .tab-label{
    -fx-text-fill: #dedec5;
}

.tab:selected .tab-label{
    -fx-text-fill: white;
}


.tab-pane .tab-header-area{
    -fx-padding: 0 0 50 0;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: transparent;
    -fx-spacing: 15;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: rgba(0, 0, 255, 0.38);
    -fx-border-color: black;
    -fx-pref-height: 40;
}

.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-font-family: Tahoma;
}


.key-label{
    -fx-font-family: "Tahoma";
    -fx-font-size: 20;
    -fx-text-fill: white;
//-fx-text-fill: #dedec5;
}

.table-view .column-header{
    -fx-font-family: "Tahoma";
}

.sub-header{
    -fx-font-family: "Tahoma";
    -fx-font-size: 25;
    -fx-text-fill: white;
}